<div class="page" id="dashboard" data-name="dashboard">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
        </div>
        <div class="title">
          <p>Dashboard</p>
        </div>
        <div class="right">
          <a href="#" class="link icon-only panel-open" data-panel="right">
              <i class="icon f7-icons if-not-md">menu</i>
              <i class="icon material-icons md-only">menu</i>
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="block block-strong">
          <div><p style="font-size:15px">Halo, 1118100139</p></div>
      </div>
      <div class="block block-strong">
          <div class="row chodosoft-center">
              <div class="col-50 menu-dashboard">
                  <button class="button button-dashboard button-fill color-green text-color-white" id="btn-pay">
                      <img src='img/money.png' class="dashboard-icon" />
                  </button>
                  <div>Pembayaran</div>
              </div>
              <div class="col-50 menu-dashboard">
                  <button class="button button-dashboard button-fill color-orange text-color-white" id="history-btn">
                      <img src='img/book.png' class="dashboard-icon" />
                  </button>
                  <div>Histori Pembayaran</div>
              </div>
          </div>
      </div>
    </div>  
  </div>
  