<div class="page" data-page="history">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="/dashboard/" class="link">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">
          Riwayat Pembayaran
          </div>
        <div class="right">
          <a href="#" class="link icon-only panel-open" data-panel="right">
              <i class="icon f7-icons if-not-md">menu</i>
              <i class="icon material-icons md-only">menu</i>
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="list media-list">
        <ul>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title">
                  <div class="text-align-center">1118100139 - Yosua Lumban Toruan</div>
                  <div class="text-align-center">TI 18 SE MALAM - Semester 5</div>
                  <div class="text-align-center"><b>Rp 9.000.000,-</b></div>
                </div>
              </div>
            </a>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-inner">
                <div class="item-text">Pembayaran Bulan Januari 2021</div>
                <div class="item-text text-align-right text-color-blue">Rp 1.000.000,-</div>
                <div class="item-text text-align-right text-color-red">Sisa: Rp 8.000.000,-</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-inner">
                <div class="item-text">Pembayaran Bulan Februari 2021</div>
                <div class="item-text text-align-right text-color-blue">Rp 1.000.000,-</div>
                <div class="item-text text-align-right text-color-red">Sisa: Rp 7.000.000,-</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-inner">
                <div class="item-text">Pembayaran Bulan Maret 2021</div>
                <div class="item-text text-align-right text-color-blue">Rp 1.000.000,-</div>
                <div class="item-text text-align-right text-color-red">Sisa: Rp 6.000.000,-</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-inner">
                <div class="item-text">Pembayaran Bulan April 2021</div>
                <div class="item-text text-align-right text-color-blue">Rp 1.000.000,-</div>
                <div class="item-text text-align-right text-color-red">Sisa: Rp 5.000.000,-</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-inner">
                <div class="item-text">Pembayaran Bulan Mei 2021</div>
                <div class="item-text text-align-right text-color-blue">Rp 1.000.000,-</div>
                <div class="item-text text-align-right text-color-red">Sisa: Rp 4.000.000,-</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-inner">
                <div class="item-text">Pembayaran Bulan Juni 2021</div>
                <div class="item-text text-align-right text-color-blue">Rp 1.000.000,-</div>
                <div class="item-text text-align-right text-color-red">Sisa: Rp 3.000.000,-</div>
              </div>
            </a>
          </li>
  
        </ul>
      </div>
    </div>
  </div>