<div class="page view view-main" id="login" data-name="login">
    <div class="page-content">
        <div class="block">
			<div class="page-content chodosoft-center">
				<img src="img/logo.png" width="150px" height="150px" />
			</div>
            <div style="text-align: center">
                <h1>Login Mahasiswa</h1>
            </div>
            <div>
                <form class="list no-hairlines-md" id="login-form">
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">NIM</div>
                                <div class="item-input-wrap">
                                <input name="username" type="number" id="username">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">Password</div>
                                <div class="item-input-wrap">
                                    <input name="password" type="password" id="password">
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
                <div class="block">
                    <p class="row">
                        <a class="col button button-fill color-black text-color-white" id="login-btn" href="#" type="submit">Login</a>
                    </p>
                    <div class="block-footer" style="text-align: center">Tidak memiliki Akun?<a class="color-white text-color-black" href="/register/" > Daftar Sekarang </a></div>
                </div>
            </div>
        </div>  
    </div>
</div>