<div class="page" id="pay" data-name="pay">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="/dashboard/" class="link">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">
            Pembayaran
          </div>
        <div class="right">
          <a href="#" class="link icon-only panel-open" data-panel="right">
              <i class="icon f7-icons if-not-md">menu</i>
              <i class="icon material-icons md-only">menu</i>
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">
      <form class="list no-hairlines-md" id="pay-form">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">NIM</div>
              <div class="item-input-wrap">
                <input type="text" value="1118100139" disabled>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Nama</div>
              <div class="item-input-wrap">
                <input type="text" value="Yosua Lumban Toruan" disabled>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Nominal</div>
              <div class="item-input-wrap">
                <input type="number" id="Nominal">
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Deskripsi</div>
              <div class="item-input-wrap">
                <input type="text" id="Deskripsi">
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="block" style="margin-top:-5px">
        <p class="row">
            <a class="col button button-fill color-black text-color-white" href="/dashboard/" type="submit">BAYAR</a>
        </p>
     </div> 
    </div>  
  </div>
  