<div class="page" id="prodi" data-page="prodi">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="/dashboard/" class="link">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">
          Program Study
          </div>
        <div class="right">
          <a href="#" class="link icon-only panel-open" data-panel="right">
              <i class="icon f7-icons if-not-md">menu</i>
              <i class="icon material-icons md-only">menu</i>
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">
  
    <div class="card card-expandable">
      <div class="card-content">
        <div class="bg-color-orange" style="height: 80px">
          <div class="card-header text-color-white display-block">
            Teknik Informatika
            <br>
            <small style="opacity: 1">Software Engineering</small>
          </div>
          <a href="#" class="link card-close card-opened-fade-in color-white" style="position: absolute; right: 15px; top: 15px">
            <i class="icon f7-icons">xmark_circle_fill</i>
          </a>
        </div>
        <div class="card-content-padding">
          <div class="card data-table">
            <table>
              <thead>
                <tr>
                  <th class="label-cell">Kode MK</th>
                  <th class="numeric-cell">Nama MK</th>
                  <th class="numeric-cell">SKS</th>
                  <th class="numeric-cell">Semester</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="label-cell">ITG</td>
                  <td class="numeric-cell">IT Governance</td>
                  <td class="numeric-cell">5</td>
                  <td class="numeric-cell">5</td>
                </tr>
                <tr>
                  <td class="label-cell">PBO</td>
                  <td class="numeric-cell">Pemograman Objek Dasar</td>
                  <td class="numeric-cell">4</td>
                  <td class="numeric-cell">5</td>
                </tr>
                <tr>
                  <td class="label-cell">PKN</td>
                  <td class="numeric-cell">Pendidikan Kewarganegaraan</td>
                  <td class="numeric-cell">3</td>
                  <td class="numeric-cell">5</td>
                </tr>
                <tr>
                  <td class="label-cell">KB</td>
                  <td class="numeric-cell">Kecerdasan Buatan</td>
                  <td class="numeric-cell">5</td>
                  <td class="numeric-cell">5</td>
                </tr>
                <tr>
                  <td class="label-cell">CC</td>
                  <td class="numeric-cell">Cloud Computing</td>
                  <td class="numeric-cell">3</td>
                  <td class="numeric-cell">5</td>
                </tr>
                <tr>
                  <td class="label-cell">SP</td>
                  <td class="numeric-cell">Sistem pakar</td>
                  <td class="numeric-cell">2</td>
                  <td class="numeric-cell">5</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>  
    <div class="card card-expandable">
      <div class="card-content">
        <div class="bg-color-black" style="height: 80px">
          <div class="card-header text-color-white display-block">
            Sistem Informasi
            <br>
            <small style="opacity: 1.7">Business Intelligence</small>
          </div>
          <a href="#" class="link card-close card-opened-fade-in color-white" style="position: absolute; right: 15px; top: 15px">
            <i class="icon f7-icons">xmark_circle_fill</i>
          </a>
        </div>
        <div class="card-content-padding">
          <div class="card data-table">
            <table>
              <thead>
                <tr>
                  <th class="label-cell">Kode MK</th>
                  <th class="numeric-cell">Nama MK</th>
                  <th class="numeric-cell">SKS</th>
                  <th class="numeric-cell">Semester</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="label-cell">MB</td>
                  <td class="numeric-cell">Matematika Bisnis</td>
                  <td class="numeric-cell">2</td>
                  <td class="numeric-cell">5</td>
                </tr>
                <tr>
                  <td class="label-cell">RPL</td>
                  <td class="numeric-cell">Rekayasa Perangkat Lunak</td>
                  <td class="numeric-cell">3</td>
                  <td class="numeric-cell">5</td>
                </tr>
                <tr>
                  <td class="label-cell">EB</td>
                  <td class="numeric-cell">E-Business</td>
                  <td class="numeric-cell">3</td>
                  <td class="numeric-cell">5</td>
                </tr>
                <tr>
                  <td class="label-cell">SD</td>
                  <td class="numeric-cell">Struktur Data</td>
                  <td class="numeric-cell">3</td>
                  <td class="numeric-cell">5</td>
                </tr>
                <tr>
                  <td class="label-cell">EI</td>
                  <td class="numeric-cell">Ekspor Import</td>
                  <td class="numeric-cell">3</td>
                  <td class="numeric-cell">5</td>
                </tr>
                <tr>
                  <td class="label-cell">PW2</td>
                  <td class="numeric-cell">Pemrogramman Web 2</td>
                  <td class="numeric-cell">2</td>
                  <td class="numeric-cell">5</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>  
  
  </div>
  </div>
  