<div class="page" id="registration" data-name="registration">
    <div class="page-content">
      <div class="block">
          <div style="text-align: center">
              <h3>Pendaftaran</h3>
          </div>
          <div>
              <form class="list" id="reg-form">
                  <ul>
                      <li class="item-content item-input">
                          <div class="item-inner">
                              <div class="item-title item-label">No KTP</div>
                              <div class="item-input-wrap">
                                  <input name="noKtp" type="text" id="noKtp" required="required">
                                  <span class="input-clear-button"></span>
                              </div>
                          </div>
                      </li>
                      <li class="item-content item-input">
                          <div class="item-inner">
                              <div class="item-title item-label">Nama</div>
                              <div class="item-input-wrap">
                                  <input name="name" type="text" id="nama" required="required">
                                  <span class="input-clear-button"></span>
                              </div>
                          </div>
                      </li>
                      <li class="item-content item-input">
                          <div class="item-inner">
                              <div class="item-title item-label">Jenis Kelamin : </div>
                                  <div class="item-input-wrap input-dropdown-wrap">
                                      <select>
                                          <option value="L">Laki-Laki</option>
                                          <option value="P">Perempuan</option>
                                      </select>
                                  </div>
                          </div>
                      </li>
                      <li class="item-content item-input">
                          <div class="item-inner">
                              <div class="item-title item-label">Tempat dan Tanggal Lahir</div>
                              <div class="item-input-wrap">
                                <div class="row">
                                    <div class="col-50"><input name="tempat" type="text" id="tempat" placeholder="Tempat"></div>
                                    <div class="col-50"><input type="date" value="1999-01-30" placeholder="Please choose..."></div>
                                </div>
                              </div>
                          </div>
                      </li>
                      <li class="item-content item-input">
                          <div class="item-inner">
                              <div class="item-title item-label">Alamat Sekarang</div>
                              <div class="item-input-wrap">
                                  <textarea name="address" id="address" required="required"></textarea>
                                  <span class="input-clear-button"></span>
                              </div>
                          </div>
                      </li>
                      <li class="item-content item-input">
                          <div class="item-inner">
                              <div class="item-title item-label">Agama : </div>
                                  <div class="item-input-wrap input-dropdown-wrap">
                                      <select>
                                          <option value="krs">Kristen</option>
                                          <option value="kat">Katolik</option>
                                          <option value="isl">Islam</option>
                                          <option value="hin">Hindu</option>
                                          <option value="bud">Budha</option>
                                      </select>
                                  </div>
                          </div>
                      </li>
                      <li class="item-content item-input">
                          <div class="item-inner">
                              <div class="item-title item-label">Motivasi</div>
                              <div class="item-input-wrap">
                                  <textarea name="motivasi" id="motivasi" required="required"></textarea>
                                  <span class="input-clear-button"></span>
                              </div>
                          </div>
                      </li>
                  </ul>
              </form>
              <div class="block">
                  <p class="row" style="margin-top:-20px">
                      <a class="col button button-fill color-red text-color-white" id="back-btn" href="/login/" type="submit">Kembali</a>
                      <a class="col button button-fill color-blue text-color-white" id="register-btn" href="/login/" type="submit">Daftar</a>
                  </p>
              </div>
          </div>
          <div class="chodosoft-center">
              <div class="chodosoft-font-9" id="login-footer"></div>
              <br />
          </div>
        </div>  
      </div>
  </div>
  